
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap'); */
#main-body{
    /* display: grid; */
    /* grid-template-columns: 1fr 5fr;    */
    /* overflow: scroll; */
    /* height: 1vh; */

    display: flex;
    flex-direction: row;   

    scrollbar-width: none;
}

#main-body:-webkit-scrollbar{
    display: none;
}



#main-body *{
    margin:0;
}

#main-body * {
    font-family: 'Inter', 'sans-serif';
    font-weight: 300;
}

#filter-area {
    background-color: var(--clr-light);

    display: flex;
    flex-direction: column;

    margin: 10px;

    padding: 1em;
    width: fit-content;
    height: 100%;
    
    /* align-items: left; */
}


#product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;

    /* overflow: scroll; */
    max-width: 100%;

    margin: 1em;
}

.product {

    background-color: var(--clr-light);
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    padding: 1em;

    max-height: min-content;

    gap: 1em;
}

.product--image {
    width: max-content;
}


.product--supplier {
    display: flex;
    flex-direction: row;  
    height: fit-content;
    align-content: center;

    gap: 0.5em;

}

.product--supplier-pf {
    height: 40px;
    border-radius: 50%;

    vertical-align: middle;
    border: 2px solid black;
    
}

.product--supplier-name{
    font-weight: 700;
    font-size: larger;
}



.product--price{
   display: inline-block;
}

.icon--add-to-cart {
    float: right;
}